$box-bg: rgba(241, 196, 14, 0.9);
@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir.woff') format('woff'), url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Bold.woff') format('woff'), url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

body {
    background: url("../img/borjak.jpg") no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Vazir', sans-serif;
}

header {
    padding: 10px;
    margin: 36px auto 0;
    width: 300px;
    border-radius: 20px;
    background: $box-bg;
    text-align: center;
    color: steelblue;
    text-shadow: 0 0 10px rgba(250, 250, 250, 1);

    h1 {
        margin: 0 5px;
        font-weight: bold;
        font-size: 64px;
    }

    p {
        padding-top: 10px;
        font-weight: normal;
        font-size: 18px;
    }
}

.main {
    margin-top: 70px;
    margin-bottom: 20px;
    border-radius: 20px;
    max-width: 400px;
    background: $box-bg;
}

.starter {
    width: 200px;
    margin: 0 auto;

    input {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
    }
}

.checkbox {}

.howmuch {
    display: none;

    input {
        margin: 20px auto;
    }
}

.btn {
    font-family: 'Vazir', sans-serif;
    display: block;
    margin: 20px auto;
}

#copyright {
    border-radius: 10px;
    max-width: 400px;
    background: $box-bg;
    text-align: center;
    margin: 20px auto !important;
}

.fa-heart {
    color: red;
}

.chart {
  border-radius: 10px;
  max-width: 800px;
  background: $box-bg;
  margin: 20px auto;
  display: none;
}

.table {
  width: 100%;
  margin: 10px auto;
  background: lightblue;
  border-radius: 5px;
}

td {
  text-align: center;
}
